{% extends 'base.html' %}
{% load static %}
{% block title %} Forrmulario {% endblock title %}

{% block content %}
    <form action="{% url 'formulario_subcategoria' %}" method="POST" class="form-formulario">
        {% csrf_token %}
            {% for non_field_error in form.non_field_errors %}
                <p>{{ non_field_error }}</p>
            {% endfor %}
            

            <p>Añade una  subcategoria</p>
            
            <p>categoria: {{formita.categoria_id}}</p>
            <p>titulo: {{formita.titulo}}</p>
        
            <input type="submit" value="grabar">
    </form>
{% endblock %}