{% extends 'base.html' %}
{% load static %}
{% block title %} Productos {% endblock title %}

{% block content %}

    <ol>
        {% for prod in productos %}
            <li>{{ prod.titulo }}</li>
            <ul>
                <li>categoria: {{prod.categoria_id}} </li>
                <li>subcategoria: {{prod.sub_categoria_id }} </li>
                <li>usuario:  {{prod.usuario_id}} </li>
                <li>Descripcion:  {{prod.descripcion}} </li>
                <li>Precio: S/. {{prod.precio}} </li>
                <li>foto: <img src="XD {{prod.foto}}" ></li>
                
            </ul>
        {% endfor %}
    </ol>
        
{% endblock %}