{% extends 'base.html' %}
{% load static %}

{% block title %} Productos {% endblock title %}
{% block cssprincipal %}
<link rel="stylesheet" href="{% static 'css/estilos_index.css' %}">    
{% endblock cssprincipal %}

{% block content %}
    <h1>Revisa nuestras ofertas</h1>

    <h2>Accorde a los productos</h2>
    <p>productos dentro ordenados</p>
    <button class="accordion">Section 1</button>
    <div class="panel">
        {% for prod in  20productos%}
            <a class="titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a>
            <br>
        {% endfor %}
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
        {% for prod in  40productos%}
            <a class="titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a>
            <br>
        {% endfor %}
    </div>

    








    <ol>
        {% for prod in productos %}
            <li class="tit-cont"><a class="titulo" href="{% url 'producto_detallado' slug=prod.slug %}">{{ prod.titulo }}</a></li>
            <ul>
                <li>categoria: {{prod.categoria_id}} </li>
                <li>subcategoria: {{prod.sub_categoria_id }} </li>
                <li>usuario:  {{prod.usuario_id}} </li>
                <li>Descripcion:  {{prod.descripcion}} </li>
                <li>Precio: S/. {{prod.precio}} </li>
                {% if prod.foto %}
                <li> <img src="{{prod.foto.url}}" alt=""> </li>
                {% endif %}
                
                
            </ul>
        {% endfor %}
    </ol>


            <a href="{% url 'formulario'  %}">click aqui para añadir categoria</a>
            </br>
            <a href="{% url 'formulario_subcategoria'  %}">click aqui para añadir subcategoria</a>
            </br>
            <a href="{% url 'formulario_producto'  %}">click aqui para añadir producto</a>
{% endblock %}

{% block script %}         
<script src="{% static 'js/script.js' %}"></script>>

{% endblock script %}
