{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Home {% endblock title %}</title>
  
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  {% block cssprincipal %}
      
  {% endblock cssprincipal %}
  
</head>
<header>
  {% block cabecera %}
      
  {% endblock cabecera %}

</header>
<body>
  
  
  {% block content %}
  {% endblock content %}
  {% block script %}         
  {% endblock script %}

</body>

</html>